:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --grey: rgba(231, 233, 241, 1);
  --grey-text-db: rgba(105, 107, 115, 1);
  --grey-stroke: rgba(230, 229, 232, 1);
  --half-blue: rgba(8, 46, 83, 0.3);
  --green: rgba(162, 251, 176, 1);
  --green-2: rgba(2, 221, 36, 1);
  --yellow: rgba(238, 251, 162, 1);
  --yellow-2: rgba(218, 243, 70, 1);
  --red: rgba(255, 40, 40, 1);
  --transparent-blue: rgba(6, 31, 54, 0.6);
  --transparent-white: rgba(255, 255, 255, 0.7);

  --landing-bg: rgba(242, 247, 247, 1);
  --landing-title: rgba(6, 31, 54, 1);
  --landing-text: rgba(145, 160, 171, 1);
  --landing-border: rgba(218, 228, 236, 1);
  --hero-border: rgba(206, 225, 238, 1);
  --item-grey: rgba(236, 235, 241, 1);
  --bg: rgba(246, 245, 249, 1);
}
