@use "@/01-app/assets/breakpoints.scss";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
input {
  outline: none;
}

input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.grey-text-db {
  color: var(--grey-text-db);
}

.d-flex {
  display: flex;
  &-colum {
    flex-direction: column;
  }
  &-justify-center {
    justify-content: center;
  }
  &-justify-around {
    justify-content: space-around;
  }
  &-justify-between {
    justify-content: space-between;
  }
  &-align-center {
    align-items: center;
  }
}

.hidden {
  display: none !important;
}
