@use "@/01-app/assets/breakpoints";

$switch-duration: 1.5s;

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
  animation: var(--switch-name) var(--switch-duration);
  animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
  animation-fill-mode: both;
}

.dark::view-transition-old(root) {
  animation: var(--switch-name) var(--switch-duration);
  animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
  animation-fill-mode: both;
}

::view-transition-new(root) {
  -webkit-mask: url('@/06-shared/assets/shigure-ui-smol.gif') 50%/0 no-repeat;
  mask: url('@/06-shared/assets/shigure-ui-smol.gif') 50%/0 no-repeat;
}

@keyframes scale {
  0% {
    -webkit-mask-size: 0;
    mask-size: 0;
  }
  10% {
    -webkit-mask-size: 25vmax;
    mask-size: 25vmax;
  }
  90% {
    -webkit-mask-size: 25vmax;
    mask-size: 25vmax;
  }
  to {
    -webkit-mask-size: 750vmax;
    mask-size: 750vmax;
  }
}

@keyframes scale-fast {
  0% {
    -webkit-mask-size: 0;
    mask-size: 0;
  }
  10% {
    -webkit-mask-size: 25vmax;
    mask-size: 25vmax;
  }
  87.5% {
    -webkit-mask-size: 25vmax;
    mask-size: 25vmax;
  }
  to {
    -webkit-mask-size: 750vmax;
    mask-size: 750vmax;
  }
}
